In [1]:
import mysql.connector

In [53]:
mydb = mysql.connector.connect(
  host="localhost",
  user="ekatka",
  password="password"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7effcc560f70>

In [54]:
mycursor = mydb.cursor()

In [55]:
mycursor.execute("SHOW DATABASES")

In [16]:
mycursor.execute("CREATE DATABASE dailyAMC")

In [56]:
for x in mycursor:
  print(x)

('dailyAMC',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [65]:
mycursor.execute("USE dailyAMC;")
# mycursor.execute("DROP TABLE Problems;")
mycursor.execute("CREATE TABLE Problems ( id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,statement TEXT, difficulty INT, original TEXT, answer TEXT);")

In [72]:
mycursor.execute("SHOW TABLES;")

In [73]:
for x in mycursor:
  print(x)

('Answers',)
('Assigments',)
('Problems',)
('Solutions',)
('Users',)

In [63]:
mycursor.execute("USE dailyAMC;")
mycursor.execute("CREATE TABLE Users ( id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, email VARCHAR(320), password_hash CHAR(40) );")

In [71]:
for x in mycursor:
  print(x)

In [68]:
mycursor.execute("USE dailyAMC;")
mycursor.execute("CREATE TABLE Assigments ( id INT NOT NULL AUTO_INCREMENT, "
                 "date DATE, "
                 "problem_id INT, "
                 "PRIMARY KEY (id), "
                 "FOREIGN KEY (problem_id) REFERENCES Problems(id));")

In [69]:
mycursor.execute("CREATE TABLE  Answers ( id INT NOT NULL AUTO_INCREMENT,"
                 "user_id INT,"
                 "assigment_id INT,"
                 "answer VARCHAR(320),"
                 "PRIMARY KEY(id),"
                 "FOREIGN KEY (user_id) REFERENCES Users(id),"
                 "FOREIGN KEY (assigment_id) REFERENCES Assigments(id));")

In [70]:
mycursor.execute("USE dailyAMC;")
# mycursor.execute("DROP TABLE Solutions")
mycursor.execute("CREATE TABLE Solutions (id INT NOT NULL AUTO_INCREMENT, problem_id INT, solution_text VARCHAR(320), is_answer TINYINT,"
                 "PRIMARY KEY (id), "
                 "FOREIGN KEY (problem_id) REFERENCES Problems(id));")

In [62]:
mycursor.execute("DROP TABLE Solutions")
mycursor.execute("DROP TABLE Answers")
mycursor.execute("DROP TABLE Assigments")
mycursor.execute("DROP TABLE Users")
mycursor.execute("DROP TABLE Problems")

In [76]:
mycursor.execute("CREATE TABLE test ( id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,statement TEXT, difficulty INT, original TEXT, answer TEXT);")

In [81]:
statement = 'aaba'
dif = 3
origin = 'link'
answer = 'latex latex'

In [85]:
mysql_insert_query = 'INSERT INTO test(statement, difficulty, original, answer) VALUES (%s, %s, %s, %s)'
mycursor.execute(mysql_insert_query, (statement, dif, origin, answer))

In [86]:
mycursor.execute('select * from test')

In [87]:
for x in mycursor:
  print(x)

(1, 'aaaa', 3, 'link', 'latex latex')
(2, 'aaba', 3, 'link', 'latex latex')
(3, 'aaba', 3, 'link', 'latex latex')