In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host="localhost",
    user="ekatka",
    password="password",
    db="dailyAMC"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fd2a4458250>

In [4]:
mycursor = mydb.cursor()

In [5]:
mycursor.execute("SHOW DATABASES")

In [16]:
mycursor.execute("CREATE DATABASE dailyAMC")

In [6]:
for x in mycursor:
    print(x)

('dailyAMC',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('sys',)

In [33]:
mycursor.execute("USE dailyAMC;")
# mycursor.execute("DROP TABLE Problems;")
mycursor.execute(
    "CREATE TABLE Problems ( id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,statement TEXT, difficulty INT, original TEXT, answer TEXT);")

In [72]:
mycursor.execute("SHOW TABLES;")

In [73]:
for x in mycursor:
    print(x)

('Answers',)
('Assigments',)
('Problems',)
('Solutions',)
('Users',)

In [36]:
mycursor.execute("USE dailyAMC;")
mycursor.execute(
    "CREATE TABLE Users ( id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, email VARCHAR(320), password_hash CHAR(40) );")

In [28]:
mycursor.execute("USE dailyAMC;")

In [71]:
for x in mycursor:
    print(x)

In [40]:
mycursor.execute("USE dailyAMC;")
mycursor.execute("CREATE TABLE Assignments ( id INT NOT NULL AUTO_INCREMENT, "
                 "problem_date DATE, "
                 "problem_id INT, "
                 "PRIMARY KEY (id), "
                 "FOREIGN KEY (problem_id) REFERENCES Problems(id));")

In [7]:
# mycursor.execute('DROP TABLE ANSWERS')
mycursor.execute("CREATE TABLE  Answers ( id INT NOT NULL AUTO_INCREMENT,"
                 "user_id INT,"
                 "assigment_id INT,"
                 "answer VARCHAR(320),"
                 "PRIMARY KEY(id),"
                 "FOREIGN KEY (user_id) REFERENCES Users(id),"
                 "FOREIGN KEY (assigment_id) REFERENCES Assignments(problem_id));")

In [5]:
mycursor.execute('DROP TABLE Answers')

In [39]:
mycursor.execute("USE dailyAMC;")
# mycursor.execute("DROP TABLE Solutions")
mycursor.execute(
    "CREATE TABLE Solutions (id INT NOT NULL AUTO_INCREMENT, problem_id INT, solution_text VARCHAR(320), is_answer TINYINT,"
    "PRIMARY KEY (id), "
    "FOREIGN KEY (problem_id) REFERENCES Problems(id));")

ProgrammingError: 1050 (42S01): Table 'Solutions' already exists

In [32]:
# mycursor.execute("DROP TABLE Solutions")
# mycursor.execute("DROP TABLE Answers")
mycursor.execute("DROP TABLE Assignments")
mycursor.execute("DROP TABLE Users")
mycursor.execute("DROP TABLE Problems")

In [76]:
mycursor.execute(
    "CREATE TABLE test ( id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,statement TEXT, difficulty INT, original TEXT, answer TEXT);")

In [81]:
statement = 'aaba'
dif = 3
origin = 'link'
answer = 'latex latex'

In [85]:
mysql_insert_query = 'INSERT INTO test(statement, difficulty, original, answer) VALUES (%s, %s, %s, %s)'
mycursor.execute(mysql_insert_query, (statement, dif, origin, answer))

In [86]:
mycursor.execute('select * from test')

In [200]:
day_ids = []
for x in mycursor:
    print(x[0])
    day_ids.append(x[0])

355
362
369
376
383
390
397
404
411
418
425
432
439
446
453
460
467
474
481
488
495
502
509
516

In [111]:
mycursor.execute("USE dailyAMC;")

In [107]:
mycursor.execute('select solution_text from Solutions where problem_id = 6')

In [195]:
problem_ids = []
for x in mycursor:
    problem_ids.append(x[0])

In [196]:
print(problem_ids)

[136, 160, 69, 46, 70, 114, 23, 22, 205, 1, 91, 159, 115, 24, 137, 182, 48, 3, 181, 47, 2, 68, 183, 158, 92]

In [ ]:
insert_into_Assigments = 'UPDATE Assigments SET problem_id = {} WHERE id = {}'.format(problem_ids[i], day_ids[i])

In [209]:
for i in range(24):
    insert_into_Assigments = 'UPDATE Assigments SET problem_id = {} WHERE id = {}'.format(problem_ids[i], day_ids[i])
    print(insert_into_Assigments)
    mycursor.execute(insert_into_Assigments)
    mydb.commit()

UPDATE Assigments SET problem_id = 136 WHERE id = 355
UPDATE Assigments SET problem_id = 160 WHERE id = 362
UPDATE Assigments SET problem_id = 69 WHERE id = 369
UPDATE Assigments SET problem_id = 46 WHERE id = 376
UPDATE Assigments SET problem_id = 70 WHERE id = 383
UPDATE Assigments SET problem_id = 114 WHERE id = 390
UPDATE Assigments SET problem_id = 23 WHERE id = 397
UPDATE Assigments SET problem_id = 22 WHERE id = 404
UPDATE Assigments SET problem_id = 205 WHERE id = 411
UPDATE Assigments SET problem_id = 1 WHERE id = 418
UPDATE Assigments SET problem_id = 91 WHERE id = 425
UPDATE Assigments SET problem_id = 159 WHERE id = 432
UPDATE Assigments SET problem_id = 115 WHERE id = 439
UPDATE Assigments SET problem_id = 24 WHERE id = 446
UPDATE Assigments SET problem_id = 137 WHERE id = 453
UPDATE Assigments SET problem_id = 182 WHERE id = 460
UPDATE Assigments SET problem_id = 48 WHERE id = 467
UPDATE Assigments SET problem_id = 3 WHERE id = 474
UPDATE Assigments SET problem_id = 181 WHERE id = 481
UPDATE Assigments SET problem_id = 47 WHERE id = 488
UPDATE Assigments SET problem_id = 2 WHERE id = 495
UPDATE Assigments SET problem_id = 68 WHERE id = 502
UPDATE Assigments SET problem_id = 183 WHERE id = 509
UPDATE Assigments SET problem_id = 158 WHERE id = 516

In [176]:
mycursor.execute("ALTER TABLE Assigments ADD COLUMN day_of_week INT;")
mydb.commit()

ProgrammingError: 1060 (42S21): Duplicate column name 'day_of_week'

In [61]:
mycursor.execute('SET @previous_date = CURDATE()')
for i in range(245):
    assigment_query = 'INSERT INTO Assignments (problem_date) VALUE (DATE_ADD(@previous_date, INTERVAL 1 day));'
    mycursor.execute('SET @previous_date = DATE_ADD(@previous_date, INTERVAL 1 day)')
    mycursor.execute(assigment_query)
    mydb.commit()

In [ ]:
for i in range(174):
    mycursor.execute('SET @previous_date = CURDATE()')

In [125]:
mycursor.execute('SET @previous_date = CURDATE()')
mycursor.execute('SELECT DATE_ADD(@previous_date, INTERVAL 1 day); ')

In [130]:
mycursor.execute("USE dailyAMC;")

In [ ]:
insest_query = 'INSERT INTO Assigments (problem_id) SELECT '

In [81]:
mycursor.execute("SELECT id FROM Problems WHERE difficulty = 7 ORDER BY RAND()")
problem_ids = []
for x in mycursor:
    problem_ids.append(x[0])
print(len(problem_ids))

41

In [158]:
mycursor.execute('Assigments')

ProgrammingError: 1054 (42S22): Unknown column 'difficulty' in 'having clause'

In [82]:
mycursor.execute('SELECT id FROM Assignments WHERE DAYOFWEEK(problem_date) = 1')
day_ids = []
for x in mycursor:
    print(x[0])
    day_ids.append(x[0])
print(len(day_ids))

6
13
20
27
34
41
48
55
62
69
76
83
90
97
104
111
118
125
132
139
146
153
160
167
174
181
188
195
202
209
216
223
230
237
244
35

In [83]:
for i in range(35):
    insert_into_Assigments = 'UPDATE Assignments SET problem_id = {} WHERE id = {}'.format(problem_ids[i], day_ids[i])
    print(insert_into_Assigments)
    mycursor.execute(insert_into_Assigments)
    mydb.commit()

UPDATE Assignments SET problem_id = 294 WHERE id = 6
UPDATE Assignments SET problem_id = 69 WHERE id = 13
UPDATE Assignments SET problem_id = 183 WHERE id = 20
UPDATE Assignments SET problem_id = 138 WHERE id = 27
UPDATE Assignments SET problem_id = 295 WHERE id = 34
UPDATE Assignments SET problem_id = 159 WHERE id = 41
UPDATE Assignments SET problem_id = 71 WHERE id = 48
UPDATE Assignments SET problem_id = 226 WHERE id = 55
UPDATE Assignments SET problem_id = 115 WHERE id = 62
UPDATE Assignments SET problem_id = 46 WHERE id = 69
UPDATE Assignments SET problem_id = 47 WHERE id = 76
UPDATE Assignments SET problem_id = 315 WHERE id = 83
UPDATE Assignments SET problem_id = 228 WHERE id = 90
UPDATE Assignments SET problem_id = 250 WHERE id = 97
UPDATE Assignments SET problem_id = 24 WHERE id = 104
UPDATE Assignments SET problem_id = 204 WHERE id = 111
UPDATE Assignments SET problem_id = 313 WHERE id = 118
UPDATE Assignments SET problem_id = 90 WHERE id = 125
UPDATE Assignments SET problem_id = 113 WHERE id = 132
UPDATE Assignments SET problem_id = 273 WHERE id = 139
UPDATE Assignments SET problem_id = 271 WHERE id = 146
UPDATE Assignments SET problem_id = 137 WHERE id = 153
UPDATE Assignments SET problem_id = 182 WHERE id = 160
UPDATE Assignments SET problem_id = 48 WHERE id = 167
UPDATE Assignments SET problem_id = 181 WHERE id = 174
UPDATE Assignments SET problem_id = 272 WHERE id = 181
UPDATE Assignments SET problem_id = 249 WHERE id = 188
UPDATE Assignments SET problem_id = 205 WHERE id = 195
UPDATE Assignments SET problem_id = 70 WHERE id = 202
UPDATE Assignments SET problem_id = 314 WHERE id = 209
UPDATE Assignments SET problem_id = 158 WHERE id = 216
UPDATE Assignments SET problem_id = 251 WHERE id = 223
UPDATE Assignments SET problem_id = 293 WHERE id = 230
UPDATE Assignments SET problem_id = 203 WHERE id = 237
UPDATE Assignments SET problem_id = 91 WHERE id = 244

In [7]:
mycursor.execute("USE dailyAMC;")

In [8]:
import pymysql
from bs4 import BeautifulSoup

In [9]:
mycursor.execute("SELECT statement FROM Problems WHERE id = 167")

# Retrieve the statement from the query result
statement = mycursor.fetchone()[0]

# Use Beautiful Soup to remove HTML tags from the statement and retrieve the pure LaTeX code
soup = BeautifulSoup(statement, 'html.parser')
latex_statement = soup.get_text()

# Print the pure LaTeX statement
print(latex_statement)

On a sheet of paper, Isabella draws a circle of radius $2$, a circle of radius $3$, and all possible lines simultaneously tangent to both circles. Isabella notices that she has drawn exactly $k \ge  0$ lines. How many different values of $k$ are possible?

In [84]:
mycursor.execute("SELECT id, statement FROM Problems")

# Iterate over the query results and update the statement column with the pure LaTeX code
for row in mycursor.fetchall():
    id = row[0]
    statement = row[1]
    soup = BeautifulSoup(statement, 'html.parser')
    latex_statement = soup.get_text()
    mycursor.execute("UPDATE Problems SET statement = %s WHERE id = %s", (latex_statement, id))
    mydb.commit()

In [16]:
import re

In [ ]:
mycursor.execute("SELECT id, solution_text FROM Solutions")
for row in mycursor.fetchall():
    # print(row[0], row[1])
    id = row[0]
    new_solution = re.sub(r"\\{0,1}(\s)", r'', row[1])
    mycursor.execute("UPDATE Solutions SET solution_text = %s WHERE id = %s", (new_solution, id))
    mydb.commit()
    print(new_solution)

-4020
0
40
401
4020
585
594
672
679
694
\frac{x}{\left|x\right|}
-x^2
-2^x
-x^{-1}
\sqrt[3]{x}
38
40
42
44
46
20
21
22
23
24
0.04
\frac{0.4}{\pi}
0.4
\frac{4}{\pi}
4
60^\circ
75^\circ
90^\circ
105^\circ
120^\circ
7
8
10
12
15
8041
8043
8045
8047
8049
\frac{7}{15}
\frac{7}{8}
\frac{8}{7}
\frac{15}{8}
\frac{15}{7}
0
1
2
3
4
0
1
2
4
8
30
33
35
36
37
\frac{\sqrt{15}-3}{6}
\frac{6-\sqrt{6\sqrt{6}+2}}{12}
\frac{\sqrt{2}-1}{2}
\frac{3-\sqrt{3}}{6}
\frac{\sqrt{3}-1}{2}
\frac{47}{72}
\frac{37}{56}
\frac{2}{3}
\frac{49}{72}
\frac{39}{56}
\frac{4\sqrt{3}}{3}
\frac{10}{3}
4
\frac{17}{4}
6
92
144
1568
1698
12,800
45
63
64
201
1005
2
3
8
288
2009
4
5
6
7
8
49
50
51
52
53
12
32
48
52
68
2
12
18
22
36
560
564
568
1498
2255
24.00
24.50
25.50
28.00
30.00
11
12
13
14
15
12
\frac{37}{3}
\frac{88}{7}
13
14
20
30
40
50
60
13
14
15
16
17
7
11
17
23
77
17
18
25
26
43
324
441
630
648
882
\frac{1}{36}
\frac{1}{12}
\frac{1}{6}
\frac{1}{4}
\frac{5}{18}
3-\frac{\pi}{2}
\frac{\pi}{2}
2
\frac{3\pi}{4}
1+\frac{\pi}{2}
3
3.5
4
4.5
5
27
30
33
36
42
\frac{11}{81}
\frac{13}{81}
\frac{5}{27}
\frac{17}{81}
\frac{19}{81}
3\sqrt{2}
\frac{13}{3}
4\sqrt{2}
6
\frac{13}{2}
2520
2880
3120
3250
3750
\frac{3}{5}
\frac{4}{5}
1
\frac{6}{5}
\frac{4}{3}
5
6
7
8
9
38
90
154
406
1024
1
2
3
4
5
-226
-144
-20
20
144
1500
1560
2320
2480
2500
0
\sqrt{2}-1
\sqrt{3}-1
1
2
\sqrt{15}
\sqrt{21}
2\sqrt{6}
5
2\sqrt{7}
60^{\circ}
72^{\circ}
75^{\circ}
80^{\circ}
90^{\circ}
9
11
13
14
15
10
15
20
25
30
120
160
200
240
280
\frac{2}{5}
\frac{3}{7}
\frac{4}{7}
\frac{3}{5}
\frac{4}{5}
8
16
25
64
96

-g*n*o + (T*(h*(r*(e*(e*(di*(s*(t*(i*(n*(c*(t*(s*(e*(g*(m*(e*(n*(t*(s*(a*(r*(e*(c*(h*(o*(s*(e*(n*(a*(t*(r*(a*(n*(do*(m*(a*(m*(o*(n*(g*(t*(h*(e*(s*(e*(g*(m*(e*(n*(t*(s*(w*(h*(o*(s*(e*(e*(d*n)))))))))))))))))))))))))))))))))))))))))))))))))))))))))) - p*o*(i*(n*(t*(s*(a*(r*(e*(t*(h*(e*(v*(e*(r*(t*(i*(c*(e*(s*(o*(f*(a*(r*(e*(g*(u*(l*(a*(r*12)))))))))))))))))))))))))))))